In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../data/training_data_snorkel_label1.csv')

In [3]:
df.head()

,id,text,user,user_verified,user_followers_count,user_friends_count,retweet_count,fav_count,hashtags,target,label,snorkel_label,snorkel_prob
0,572332655397629952,These girls are the equivalent of the irritati...,JL_Whitaker,False,2189.0,2186.0,0.0,2,"[{'text': 'MKR', 'indices': [95, 99]}]",racism,1.0,1.0,0.549079
1,572341498827522049,Drasko they didn't cook half a bird you idiot ...,trish2295,False,14.0,62.0,0.0,4,"[{'text': 'mkr', 'indices': [46, 50]}]",neither,0.0,1.0,0.897941
2,572340476503724032,Hopefully someone cooks Drasko in the next ep ...,foodbling,False,3432.0,2529.0,0.0,2,"[{'text': 'MKR', 'indices': [49, 53]}]",neither,0.0,1.0,0.549079
3,572334712804384768,of course you were born in serbia...you're as ...,lilbeastunleash,False,529.0,1848.0,0.0,0,"[{'text': 'MKR', 'indices': [71, 75]}]",racism,1.0,1.0,0.549079
4,572342978255048705,So Drasko just said he was impressed the girls...,thefoxbandit,False,7.0,0.0,0.0,2,"[{'text': 'MKR', 'indices': [96, 100]}]",neither,0.0,1.0,0.597545

In [4]:
df.dropna(inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12755 entries, 0 to 12757
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    12755 non-null  object
 1   text                  12755 non-null  object
 2   user                  12755 non-null  object
 3   user_verified         12755 non-null  object
 4   user_followers_count  12755 non-null  float64
 5   user_friends_count    12755 non-null  float64
 6   retweet_count         12755 non-null  float64
 7   fav_count             12755 non-null  object
 8   hashtags              12755 non-null  object
 9   target                12755 non-null  object
 10  label                 12755 non-null  float64
 11  snorkel_label         12755 non-null  float64
 12  snorkel_prob          12755 non-null  float64
dtypes: float64(6), object(7)
memory usage: 1.4+ MB

In [6]:
weak_df, labelled_df = train_test_split(df, test_size=0.33, random_state=42, stratify=df['label'])

In [7]:
labelled_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4210 entries, 3434 to 148
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4210 non-null   object
 1   text                  4210 non-null   object
 2   user                  4210 non-null   object
 3   user_verified         4210 non-null   object
 4   user_followers_count  4210 non-null   float64
 5   user_friends_count    4210 non-null   float64
 6   retweet_count         4210 non-null   float64
 7   fav_count             4210 non-null   object
 8   hashtags              4210 non-null   object
 9   target                4210 non-null   object
 10  label                 4210 non-null   float64
 11  snorkel_label         4210 non-null   float64
 12  snorkel_prob          4210 non-null   float64
dtypes: float64(6), object(7)
memory usage: 460.5+ KB

In [8]:
weak_df.to_csv('../data/weak_data.csv', index=False)
labelled_df.to_csv('../data/labelled_data.csv', index=False)

In [9]:
df[['user_friends_count', 'user_followers_count']].values

array([[2.1860e+03, 2.1890e+03],
       [6.2000e+01, 1.4000e+01],
       [2.5290e+03, 3.4320e+03],
       ...,
       [7.2100e+02, 3.6910e+03],
       [7.6600e+02, 1.9435e+04],
       [1.3525e+04, 1.5093e+04]])

In [10]:
df.columns

Index(['id', 'text', 'user', 'user_verified', 'user_followers_count',
       'user_friends_count', 'retweet_count', 'fav_count', 'hashtags',
       'target', 'label', 'snorkel_label', 'snorkel_prob'],
      dtype='object')