In [73]:
import pandas as pd
import json

In [64]:
lis = []
with open('../data/randomtweets.txt') as f:
    for line in f.readlines():
        try:
            data = json.loads(line[:-1])['data']
            if data['lang'] == 'en':
                lis.append(data)
        except:
            pass

In [65]:
df = pd.DataFrame(lis)

In [66]:
df.drop(['withheld'], axis=1, inplace=True)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55414 entries, 0 to 55413
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      55414 non-null  object
 1   lang    55414 non-null  object
 2   text    55414 non-null  object
dtypes: object(3)
memory usage: 1.3+ MB

In [68]:
df['len'] = df.text.apply(len)

In [69]:
df[df.len > 30].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51041 entries, 0 to 55413
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      51041 non-null  object
 1   lang    51041 non-null  object
 2   text    51041 non-null  object
 3   len     51041 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.9+ MB

In [70]:
df[(df.len < 50) & (df.len > 30)].size

29948

In [79]:
df1 = df[df.len >=30]

In [81]:
df1.head()

,id,lang,text,len
0,1330957630051811329,en,@AdityaRajKaul For complete destructive mode .,46
1,1330957630064316416,en,RT @bts_bighit: [#Ïò§ÎäòÏùòÎ∞©ÌÉÑ] #BTS on Good Morning ...,140
2,1330957630051762176,en,RT @andrewgng: WHAT DID I DO https://t.co/jXiY...,52
3,1330957630055976960,en,RT @Nikole_Squirtz: Thank y‚Äôall for 11k üíãüíãüíãüíã‚ù§Ô∏è...,92
4,1330957630047567872,en,RT @bigballerhonk: mootmas treeüéÑ!! \n\nnow go ...,104

In [82]:
df1.to_csv('../data/random_tweets.csv', index=False)

In [83]:
with open('../data/random_tweet_ids.json', 'w') as f:
    json.dump(df1.id.tolist(), f)